.tab {
    padding: 5px 20px;  
    max-width: 400px;
    min-height: 5vh;
    background-color: #282f34;
    color: white;
    display: flex;
    border-right: 1px solid #252a2c;
    /* background: var(--tabs-bg); */
    overflow: hidden;   
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  }
  
.tab p {
  margin: 5px 5px;
  text-decoration: none;
}

.active {
  border-top: 1px solid #9cd79c;
  /* background: var(--tab-active-bg); */
  background-color: #20262a;
  border-bottom: none;
}

.active p{
  color: #9cd79c;
}

.tabIcon{
  font-size: 20px;
}

.red{
  color: red;
}